<div id="executionPlanModel" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form>
                <div class="modal-header">
                    <h4 class="modal-title">Create Execution Plan</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>General Shipment Template</label>
                        <input type="radio" class="form-control" name="template-type">
                    </div>
                    <div class="form-group">
                        <label>Vaccine Shipment 3P Template</label>
                        <input type="radio" class="form-control" name="template-type" disabled>
                    </div>
                    <div class="form-group">
                        <label>4P Shipments Template</label>
                        <input type="radio" class="form-control" name="template-type" disabled>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-danger" data-dismiss="modal" value="Cancel">
                    <input type="submit" class="btn btn-success" value="Create">
                </div>
            </form>
        </div>
    </div>
</div>
