.snackbar-success {
  background-color: #4caf50; /* Background color for success snackbar */
  color: #ffffff; /* Text color for success snackbar */
}
.custom-snackbar {
  margin-top: 10px; /* Adjust spacing as needed */
}