<div class="container-xl">
    <div class="table-responsive">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-12">
                        <h2>📜 Execution Plans</h2>
                    </div>
                </div>
            </div>
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th>Execution Plan ID</th>
                    <th>Origin</th>
                    <th>Destination</th>
                    <th>Should Notify Customer</th>
                    <th>Transport Type</th>
                    <th>Is Fragile Product</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>2523423</td>
                    <td>Frankfurt</td>
                    <td>Berlin</td>
                    <td>Yes</td>
                    <td>No</td>
                    <td class="transport-type">
                        <span>✈️</span>
                    </td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>